 # Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.tfstate
.terraform.tfstate.backup
.terraform.tfvars
crash.log

# Local environment files
*.tfvars.json

# IDE specific files
.idea/
.vscode/
*.swp

